@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/Scripts/ours/components.js")

<div class="jumbotron">
    <h2>Velkommen</h2>
</div>
<div class="row">
    <p>På dette site kan i administrere Embedded Stock</p>
</div>
