@model List<ITTWEB_Opg1_AdminModul.Models.Student>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Komponenter";
}

<div>
    <h2>Studernede</h2>
</div>

<div class="add-wrapper">
    <p>
        <a href="https://www.google.com/search?q=tilf%C3%B8j&ie=utf-8&oe=utf-8">Add</a>
    </p>
</div>

<div class="div-table">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Mobil nummer</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var stud in Model)
                {
                    <tr>
                        <td>@stud.StudentId</td>
                        <td>@stud.StudentName</td>
                        <td>@stud.MobilNo</td>
                        <td>@stud.Email</td>
                        <td><a class="component-edit" href="https://www.google.com/search?q=edit&ie=utf-8&oe=utf-8">Edit</a></td>
                        <td><a class="component-remove" href="https://www.google.com/search?q=edit&ie=utf-8&oe=utf-8#q=remove">Remove</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>