body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
  max-width: 280px; }

/* Large screen css */
@media (min-width: 768px) {
  .sidebar-nav {
    padding-left: 20px;
    padding-top: 20px; }
    .sidebar-nav .navbar {
      /*:not(ul) {
                display: block;
            }*/ }
      .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none; }
      .sidebar-nav .navbar ul {
        float: none; }
      .sidebar-nav .navbar li {
        float: none;
        display: block; }
        .sidebar-nav .navbar li a {
          padding-top: 12px;
          padding-bottom: 12px; }
  .navbar-left-header {
    display: none; }
  .body-container {
    padding-top: 20px;
    padding-right: 20px; } }

@media (max-width: 768px) {
  .div-table {
    overflow: scroll;
    margin-top: 60px; } }

.body-container {
  padding-left: 15px; }

.add-wrapper {
  float: right; }

.component-type-image {
  height: 77px;
  width: 77px; }

td {
  vertical-align: middle; }

.edit {
  color: #16a085; }
  .edit:hover {
    color: #006f53; }

.details {
  color: #f0ad4e; }
  .details:hover {
    color: #bd7a1b; }

.delete {
  color: #ff0000; }
  .delete:hover {
    color: #cc0000; }

