@using ITTWEB_Opg1_AdminModul.Controllers
@model List<EnrichendUser>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Accounts";
}


<div>
    <h2>Accounts</h2>
</div>

<div class="add-wrapper">
    <p>
        <a href="https://www.google.com/search?q=tilf%C3%B8j&ie=utf-8&oe=utf-8">Add</a>
    </p>
</div>

<div class="div-table">
    <table class="table">
        <thead>
            <tr>
                <th>Brugernavn</th>
                <th>Roller</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (EnrichendUser user in Model)
                {
                    <tr>
                        <td>@user.AppUser.UserName</td>
                        <td>@string.Join(", ", user.Roles.ToArray())</td>
                        <td><a class="component-edit" href="https://www.google.com/search?q=edit&ie=utf-8&oe=utf-8">Edit</a></td>
                        <td><a class="component-remove" href="https://www.google.com/search?q=edit&ie=utf-8&oe=utf-8#q=remove">Remove</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

